@import '@/theme';
.app-card {
  margin-top: 10px;
  font-size: 30px;
}
.info {
  padding: 0 0 0 30px;
}
.app-cell {
  padding-right: 30px;
  + .app-cell {
    border-top: 1px solid #ededed;
  }
}
.label {
  width: 200px;

  color: #666;
}
.placeholder {
  color: #999;
}
.protocol {
  line-height: 100px;
  padding-left: 30px;
  font-size: 26px;
  color: #333;
}
.navigator {
  display: inline;
  color: $color-primary;
}
.bottom {
  margin-top: 10px;
  height: 128px;
  line-height: 72px;
  padding: 0 20px;
  background-color: #fff;
}
.at-button {
  height: 72px;
  line-height: 70px;
}
.at-float-layout__container {
  height: 85vh;
}
.at-calendar {
  margin-top: 40px;
}
.time-box {
  line-height: 50px;
  padding: 30px;
  font-size: 24px;
  background-color: #f2f2f2;
  color: #666;
}
