@import '@/theme';
.card {
  margin-top: 10px;
  padding-left: 30px;
  border-radius: 20px;
  background-color: #fff;
}
.app-cell {
  padding-right: 30px;
  + .app-cell {
    border-top: 1px solid #ededed;
  }
}
.label {
  width: 180px;
  font-size: 30px;
  color: #666;
}
.tag {
  width: 150px;
  margin-top: 30px;
  margin-right: 20px;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
  background-color: #ededed;
  color: #666;

  &.active {
    background-color: $color-primary;
    color: #fff;
  }
}
.btn-submit {
  margin-top: 30px;
  width: 90vw;
  font-size: 30px;
}
